<% include ./partials/header %>
    <div class="container" style="background-color: lavenderblush;">
        <h1>About</h1>
        <br>
        <div style="font-size: 2rem;">
            <p>This website is made for juniors who have many questions in their mind but do not have many alumni connections. 
                It also allows alumnis' to share their experience gained during their college days to juniors.</p>
            <p>This website also serves as a platform for students going to take admissions in the college as it gives a preview of what
                all events occur in the college.
            </p>    
            <p>
                Anyone who has a question can post it, which will be first verified by the administrator and then put up in 
                the Question Space. Other users can reply to the questions with relevant answers.
            </p>
            <p>
                Users can also see the contact information of the other users in contact details page.
            </p>
        </div>  
        <div style="font-size: 3rem; font-weight: 700;margin-top: 2rem;text-align: center;">
            Respect others and Share your Knowledge.
        </div>  
    </div>
<% include ./partials/footer %>